<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
소득세 상세페이지입니다.<br />
소득세 신고 번호 : [[${dto.incomeTaxReportNum }]]<br />
신고 일자 : [[${#dates.format(dto.incomeTaxReportDate,'yyyy-MM-dd') }]]<br />
신고된 과세소득 금액 : [[${dto.taxableIncome }]]<br />
납부해야 할 소득세 금액 : [[${dto.incomeTaxDue }]]<br />
납부 상태 : [[${dto.incomeTaxPaymentStatus }]]<br />
<a th:href="@{incomeTaxUpdate(incomeTaxReportNum=${dto.incomeTaxReportNum })}">소득세 수정</a> | 
<a th:href="|incomeTaxDelete?incomeTaxReportNum=${dto.incomeTaxReportNum }|">소득세 삭제</a> |
<a href="incomeTaxList">소득세 목록</a>
</body>
</html>






