<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
</head>
<body>
나의 매출목록 페이지 <br/>
<a href="incomeWrite">매출등록</a><br />

<table border=1 width="600">
	<!-- <form action="incomeList" method="get">
	<tr>
		<td colspan="6">유저 검색:
			<input type="search" name="searchWord" size=60 th:value="${searchWord}">
			<input type="submit" value="검색">
		</td>
	</tr>
	</form> -->

	<tr><td><input type="checkbox" id="checkBoxs" /></td>
		<td>번호</td><td>매출ID</td><td>매출금액</td><td>매출 발생일</td>
		<td>매출 카테고리</td>
	</tr>
	<tr th:each=" dto,idx : ${list}">
		<td><input type="checkbox" name="nums" /> <!-- th:value="${dto.incomeNum}" --></td>
		<td>[[${idx.index}+1]]</td>
		<td><a th:href="|incomeDetail?incomeNum=${dto.incomeNum}|">[[${dto.incomeNum}]]</a></td>
		<td>[[${dto.incomeAmount}]]</td>
		<td>[[${#dates.format(dto.incomeDate,'yyyy-MM-dd')}]]</td>
		<td>[[${dto.incomeCategory}]]</td>
	</tr>

	<!-- <tr>
		<th colspan="6">
		<span th:if="${page <= 1}">[이전]</span>
		<span th:if="${page > 1}">
			<a th:href="|incomeList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
		</span>   									1,          10 
		<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
			[<a th:href="|incomeList?page=${i}&searchWord=${searchWord}|">${i}</a>]
		</th:block>
		<span th:if="${page < maxPage}">
			<a th:href="@{incomeList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
		</span>
		<span th:if="${page >= maxPage}">
			[다음]
		</span>
		</th>
	</tr> -->
</table>
</body>
</html>