<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 재고 상세페이지입니다.<br />
재고 번호 : [[${dto.inventoryNum }]]<br />
제품 번호 : [[${dto.productNum }]]<br />
현재 재고 수량 : [[${dto.inventoryQuantity }]]<br />
마지막 업데이트 날짜 : [[${#dates.format(dto.lastUpdated,'yyyy-MM-dd') }]]<br />
<a th:href="@{inventoryUpdate(inventoryNum=${dto.inventoryNum })}"> 재고 수정</a> | 
<a th:href="|inventoryDelete?inventoryNum=${dto.inventoryNum }|"> 재고 삭제</a> |
<a href="inventoryList">재고 목록</a>
</body>
</html>






