<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartTax.mapper.AutoNumMapper">

<select id="autoNumSelect" resultType="String">
select concat(#{sep},nvl(max(substr(${columnName},#{len})),100000) + 1) 
   from ${tableName}
</select>

<select id="autoNumSelect1" resultType="string">
select concat(#{sep1},nvl(max(substr(${columnName},13)),1) + 1) 
from ${tableName} where ${columnName} like '%'||#{today}||'%'
<!-- sep20241203_1 -->
</select>

</mapper>