<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartTax.mapper.ExpensesMapper">
<sql id="baseColumn">
expense_Num, user_Num, expense_Amount, expense_Date, expense_Category
, expense_Description, expense_Vat_Amount
</sql>
<insert id="expenseInsert" parameterType="expensesDTO">
insert into expenses( <include refid="baseColumn"/> )
values( #{expenseNum}, #{userNum}, #{expenseAmount}, #{expenseDate}
, #{expenseCategory}, #{expenseDescription}, #{expenseVatAmount})
</insert>

<select id="expenseSelectAll" parameterType="startEndPageDTO" resultType="expensesDTO">
select 	
* from (select ROW_NUMBER() over (order by expense_Num ) as rn,
<include refid="baseColumn"/>
 from expenses
  <where> 
	<if test="searchWord != null">
		expense_Num like '%'||#{searchWord}||'%'
		or expense_Category like '%'||#{searchWord}||'%'
		
	</if>
</where>
)
where user_num=#{userNum} and rn BETWEEN #{startRow} and #{endRow}
</select>

<select id="expenseSelectOne" resultType="expensesDTO">
select 	<include refid="baseColumn"/>
 from expenses
where expense_NUM = #{expenseNum} and user_num=#{userNum}
</select>

<update id="expenseUpdate">
update expenses
set expense_Amount=#{expenseAmount }, expense_Date=#{expenseDate }
, expense_Category=#{expenseCategory }, expense_Description=#{expenseDescription }
, expense_Vat_Amount=#{expenseVatAmount }
where expense_NUM = #{expenseNum} and user_num=#{userNum}
</update>

<delete id="expenseDelete" >
delete from expenses where expense_NUM = #{expenseNum} and user_num=#{userNum}
</delete>

<select id="expenseCount" resultType="integer">
	select count(*) from expenses where user_Num=#{userNum}
</select>

</mapper>