<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartTax.mapper.TaxMapper">
<sql id="baseColumn">
tax_Num, user_Num, income_Tax, vat_Tax, tax_Deduction, tax_Due_Date, tax_Payment_Status
</sql>
<insert id="taxInsert" parameterType="taxDTO">
insert into taxes ( <include refid="baseColumn"/> )
values( #{taxNum}, #{userNum}, #{incomeTax}, #{vatTax}
, #{taxDeduction}, #{taxDueDate}, #{taxPaymentStatus})
</insert>

<select id="taxSelectAll" parameterType="startEndPageDTO" resultType="taxDTO">
select 
* from (select ROW_NUMBER() over (order by tax_Num ) as rn,
	<include refid="baseColumn"/>
 from taxes
  <where> 
	<if test="searchWord != null">
		tax_Num like '%'||#{searchWord}||'%'
		or tax_Payment_Status like '%'||#{searchWord}||'%'
		
	</if>
</where>
)
where user_num=#{userNum} and rn BETWEEN #{startRow} and #{endRow}
</select>

<select id="taxSelectOne" resultType="taxDTO">
select 	<include refid="baseColumn"/>
 from taxes
where tax_NUM = #{taxNum} and user_num=#{userNum}
</select>

<update id="taxUpdate">
update taxes
set income_Tax=#{incomeTax }, vat_Tax=#{vatTax },tax_Deduction=#{taxDeduction },tax_Due_Date=#{taxDueDate}
,tax_Payment_Status=#{taxPaymentStatus}
where tax_NUM = #{taxNum} and user_num=#{userNum}
</update>

<delete id="taxDelete" >
delete from taxes where tax_NUM = #{taxNum} and user_num=#{userNum}
</delete>

<select id="taxCount" resultType="integer">
	select count(*) from taxes where user_Num=#{userNum}
</select>

</mapper>