<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartTax.mapper.TaxDeductionsMapper">
<sql id="baseColumn">
deduction_num , user_Num, deduction_Type , deduction_Amount , deduction_Date 
</sql>
<insert id="taxDeductionsInsert" parameterType="taxDeductionsDTO">
insert into tax_deductions ( <include refid="baseColumn"/> )
values( #{deductionNum}, #{userNum}, #{taxDeductionsReportDate}, #{taxableIncome}
, #{taxDeductionsDue}, #{taxDeductionsPaymentStatus})
</insert>

<select id="taxDeductionsSelectAll" parameterType="taxDeductionsDTO" resultType="taxDeductionsDTO">
select 	<include refid="baseColumn"/>
 from tax_deductions 
</select>

<select id="taxDeductionsSelectOne" resultType="taxDeductionsDTO">
select 	<include refid="baseColumn"/>
 from tax_deductions 
where deduction_num  = #{deductionNum} and user_num=#{userNum}
</select>

<update id="taxDeductionsUpdate">
update tax_deductions 
set deduction_Type=#{deductionType }, deduction_Amount=#{deductionAmount }
, deduction_Date=#{deductionDate }

where deduction_num  = #{deductionNum} and user_num=#{userNum}
</update>

<delete id="taxDeductionsDelete" >
delete from tax_deductions where deduction_num  = #{deductionNum} and user_num=#{userNum}
</delete>

</mapper>