<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
</head>
<body>
나의 비용목록 페이지 <br/>
<a href="expensesWrite">비용등록</a><br />

<table border=1 width="600">
	<!-- <form action="expenseList" method="get">
	<tr>
		<td colspan="6">유저 검색:
			<input type="search" name="searchWord" size=60 th:value="${searchWord}">
			<input type="submit" value="검색">
		</td>
	</tr>
	</form> -->

	<tr><td><input type="checkbox" id="checkBoxs" /></td>
		<td>번호</td><td>비용ID</td><td>비용금액</td><td>비용 발생일</td>
		<td>비용 카테고리</td>
	</tr>
	<tr th:each=" dto,idx : ${list}">
		<td><input type="checkbox" name="nums" /> <!-- th:value="${dto.expenseNum}" --></td>
		<td>[[${idx.index}+1]]</td>
		<td><a th:href="|expensesDetail?expenseNum=${dto.expenseNum}|">[[${dto.expenseNum}]]</a></td>
		<td>[[${dto.expenseAmount}]]</td>
		<td>[[${#dates.format(dto.expenseDate,'yyyy-MM-dd')}]]</td>
		<td>[[${dto.expenseCategory}]]</td>
	</tr>

	<!-- <tr>
		<th colspan="6">
		<span th:if="${page <= 1}">[이전]</span>
		<span th:if="${page > 1}">
			<a th:href="|expensesList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
		</span>   									1,          10 
		<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
			[<a th:href="|expensesList?page=${i}&searchWord=${searchWord}|">${i}</a>]
		</th:block>
		<span th:if="${page < maxPage}">
			<a th:href="@{expensesList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
		</span>
		<span th:if="${page >= maxPage}">
			[다음]
		</span>
		</th>
	</tr> -->
</table>
</body>
</html>