<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
비용 상세페이지입니다.<br />
비용번호 : [[${dto.expenseNum }]]<br />
비용금액 : [[${dto.expenseAmount }]]<br />
비용발생일 : [[${#dates.format(dto.expenseDate,'yyyy-MM-dd') }]]<br />
비용 카테고리 : [[${dto.expenseCategory }]]<br />
비용설명 : [[${dto.expenseDescription }]]<br />
부가세 : [[${dto.expenseVatAmount }]]<br />
<a th:href="@{expensesUpdate(expenseNum=${dto.expenseNum })}">비용 수정</a> | 
<a th:href="|expensesDelete?expenseNum=${dto.expenseNum }|">비용 삭제</a> |
<a href="expensesList">비용목록</a>
</body>
</html>






