<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
공제 상세페이지입니다.<br />
공제 신고 번호 : [[${dto.deductionNum }]]<br />
공제 항목 종류 : [[${dto.deductionType }]]<br />
공제 금액 : [[${dto.deductionAmount }]]<br />
공제 적용일 : [[${#dates.format(dto.deductionDate,'yyyy-MM-dd') }]]<br />
<a th:href="@{taxDeductionsUpdate(deductionNum=${dto.deductionNum })}">공제 수정</a> | 
<a th:href="|taxDeductionsDelete?deductionNum=${dto.deductionNum }|">공제 삭제</a> |
<a href="taxDeductionsList">공제 목록</a>
</body>
</html>






