<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
</head>
<body>
세금공제 작성 페이지입니다.<br />
<form action="taxDeductionsUpdate" method="post" ><!-- th:object="${taxDeductionsCommand}" dto -->
	<input type="text" name="deductionNum" th:value="${dto.deductionNum}" readonly="readonly"  /><br />
	
	
공제 항목 종류 : <input type="text" name="deductionType" id="taxDeductionsReportDate" th:value="${dto.deductionType }" />
		       	<!-- <span  style="color:red" th:if="${#fields.hasErrors('taxDeductionsId')}"th:errors="*{taxDeductionsId}"></span> --> <br />
공제 금액 : <input type="number" name="deductionAmount" th:value="${dto.deductionAmount }" />
				<!-- <span style="color:red" th:if="${#fields.hasErrors('taxDeductionsPw')}"  th:errors="*{taxDeductionsPw}"></span> --> <br />
공제 적용일 : <input type="date" name="deductionDate" th:value="${#dates.format(dto.deductionDate,'yyyy-MM-dd') }"  />
			   	<!-- <span style="color:red" th:if="${#fields.hasErrors('taxDeductionsPwCon')}" th:errors="*{taxDeductionsPwCon}"></span> --> <br />

<input type="submit" value="공제 수정하기" /> 
<input type="button" value="공제 목록" onclick="javascript:location.href='taxDeductionsList'">
</body>
</html>