<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
</head>
<body>
나의 소득세 목록 페이지 <br/>
<a href="taxDeductionsWrite">소득세 작성</a><br />

<table border=1 width="600">
	<!-- <form action="taxDeductionsList" method="get">
	<tr>
		<td colspan="6">유저 검색:
			<input type="search" name="searchWord" size=60 th:value="${searchWord}">
			<input type="submit" value="검색">
		</td>
	</tr>
	</form> -->

	<tr><td><input type="checkbox" id="checkBoxs" /></td>
		<td>번호</td><td>공제 항목 번호</td><td>공제 항목 종류</td><td>공제 금액</td><td>공제 적용일</td>
		<!-- <td>소득세 카테고리</td> -->
	</tr>
	<tr th:each=" dto,idx : ${list}">
		<td><input type="checkbox" name="nums" /> <!-- th:value="${dto.deductionNum}" --></td>
		<td>[[${idx.index}+1]]</td>
		<td><a th:href="|taxDeductionsDetail?deductionNum=${dto.deductionNum}|">[[${dto.deductionNum}]]</a></td>
		<td>[[${dto.deductionType}]]</td>
		<td>[[${dto.deductionAmount}]]</td>
		<td>[[${#dates.format(dto.deductionDate,'yyyy-MM-dd')}]]</td>
		
	</tr>

	<!-- <tr>
		<th colspan="6">
		<span th:if="${page <= 1}">[이전]</span>
		<span th:if="${page > 1}">
			<a th:href="|taxDeductionsList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
		</span>   									1,          10 
		<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
			[<a th:href="|taxDeductionsList?page=${i}&searchWord=${searchWord}|">${i}</a>]
		</th:block>
		<span th:if="${page < maxPage}">
			<a th:href="@{taxDeductionsList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
		</span>
		<span th:if="${page >= maxPage}">
			[다음]
		</span>
		</th>
	</tr> -->
</table>
</body>
</html>