<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartTax.mapper.InventoryMapper">
<sql id="baseColumn">
inventory_Num, product_Num,  user_Num, inventory_Quantity, last_Updated
</sql>
<insert id="inventoryInsert" parameterType="inventoryDTO">
insert into inventory ( <include refid="baseColumn"/> )
values( #{inventoryNum}, #{productNum }, #{userNum}, #{inventoryQuantity}
, sysDate)
</insert>

<select id="inventorySelectAll" parameterType="inventoryDTO" resultType="inventoryDTO">
select 	<include refid="baseColumn"/>
 from inventory
</select>

<select id="inventorySelectOne" resultType="inventoryDTO">
select 	<include refid="baseColumn"/>
 from inventory
where inventory_NUM = #{inventoryNum} and user_num=#{userNum}
</select>

<update id="inventoryUpdate">
update inventory
set product_Num=#{productNum }, inventory_Quantity=#{inventoryQuantity }, last_Updated=sysdate
where inventory_NUM = #{inventoryNum} and user_num=#{userNum}
</update>

<delete id="inventoryDelete" >
delete from inventory where inventory_NUM = #{inventoryNum} and user_num=#{userNum}
</delete>

</mapper>