<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
매출상세페이지입니다.<br />
매출번호 : [[${dto.incomeNum }]]<br />
매출금액 : [[${dto.incomeAmount }]]<br />
매출발생일 : [[${#dates.format(dto.incomeDate,'yyyy-MM-dd') }]]<br />
매출 카테고리 : [[${dto.incomeCategory }]]<br />
매출설명 : [[${dto.incomeDescription }]]<br />
부가세 : [[${dto.incomeVatAmount }]]<br />
<a th:href="@{incomeUpdate(incomeNum=${dto.incomeNum })}">매출 수정</a> | 
<a th:href="|incomeDelete?incomeNum=${dto.incomeNum }|">매출 삭제</a> |
<a href="incomeList">매출목록</a>
</body>
</html>






