<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 입출고 상세페이지입니다.<br />
입출고 번호 : [[${dto.transactionNum }]]<br />
제품 번호 : [[${dto.productNum }]]<br />
입출고 수량 : [[${dto.addQuantity }]]<br />
거래일자 : [[${#dates.format(dto.transactionDate,'yyyy-MM-dd') }]]<br />
<a th:href="@{invenTransUpdate(transactionNum=${dto.transactionNum })}"> 입출고 수정</a> | 
<a th:href="|invenTransDelete?transactionNum=${dto.transactionNum }|"> 입출고 삭제</a> |
<a href="invenTransList">입출고 목록</a>
</body>
</html>






