<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 부가세 상세페이지입니다.<br />
부가세 번호 : [[${dto.vatReportNum }]]<br />
신고 일자 : [[${#dates.format(dto.vatReportDate,'yyyy-MM-dd') }]]<br />
신고된 총 부가세 금액 : [[${dto.totalVat }]]<br />
납부 기한 : [[${#dates.format(dto.vatDueDate,'yyyy-MM-dd') }]]<br />
납부 상태  : [[${dto.vatPaymentStatus }]]<br />
<a th:href="@{vatUpdate(vatReportNum=${dto.vatReportNum })}"> 부가세 수정</a> | 
<a th:href="|vatDelete?vatReportNum=${dto.vatReportNum }|"> 부가세 삭제</a> |
<a href="vatList">비용목록</a>
</body>
</html>






